@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yekan';
  src: url('./fonts/Yekan.ttf') format('woff2'),
    url('./fonts/Yekan.eot') format('woff2'),
    url('./fonts/Yekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #1f1f1f;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
