.container {
  display: flex;
  justify-content: space-between;
}

.carouselContainer {
  width: 500px; 
  height: 600px; 
  overflow: hidden; 
}

.carouselContainer img {
  width: 100%;
  height: 479px;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

@media(max-width: 768px) {
  .carouselContainer {
    width: 100%;
  }
}

@media(max-width: 480px) {
  .carouselContainer {
    width: 100%;
    height: 400px;
  }
  .carouselContainer img {
    width: 100%;
    height: 300px;
  }
}